body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    background-image: url('images/image.png');
    min-height: 100vh;
    color: white;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
    
  }
  
  .image {
    display: flex;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 30px;
  
  }
  
  .image img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .header-content ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
  }
  
  .header-content ul li {
    margin: 0 15px;
    color: white;
    
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
  
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    /* background-color: white; */
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: oblique;
  }
  body {
    background-image: url('images/mainbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }